<h3 class="ui header">{{t "forms.i-i-s-proba2-рег-результ-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proba2-рег-результ-e.датРегРезСобес-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датРегРезСобес
      class=(if (v-get validationModel "датРегРезСобес" "isInvalid") "error")
      data-test-i-i-s-proba2-рег-результ-e-датРегРезСобес=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датРегРезСобес" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proba2-рег-результ-e.приглНаРаб-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.приглНаРаб
      class=(if (v-get validationModel "приглНаРаб" "isInvalid") "error")
      data-test-i-i-s-proba2-рег-результ-e-приглНаРаб=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "приглНаРаб" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proba2-рег-результ-e.кандидОтклон-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.кандидОтклон
      class=(if (v-get validationModel "кандидОтклон" "isInvalid") "error")
      data-test-i-i-s-proba2-рег-результ-e-кандидОтклон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кандидОтклон" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proba2-рег-результ-e.организация-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.организация
      displayAttributeName="наименование"
      autocomplete=true
      relationName="организация"
      projection="ОрганизацияL"
      title=(t "forms.i-i-s-proba2-рег-результ-e.организация-caption")
      readonly=readonly
      componentName="организацияLookup"
      class=(if (v-get validationModel "организация" "isInvalid") "error")
      data-test-i-i-s-proba2-рег-результ-e-организация=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "организация" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proba2-рег-результ-e.планирСобес-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.планирСобес
      displayAttributeName="время"
      autocomplete=true
      relationName="планирСобес"
      projection="ПланирСобесL"
      title=(t "forms.i-i-s-proba2-рег-результ-e.планирСобес-caption")
      readonly=readonly
      componentName="планирСобесLookup"
      class=(if (v-get validationModel "планирСобес" "isInvalid") "error")
      data-test-i-i-s-proba2-рег-результ-e-планирСобес=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "планирСобес" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.планирСобес.регистАнкеты.фИОКандид
      class=(if (v-get validationModel.планирСобес.регистАнкеты "фИОКандид" "isInvalid") "error")
      label=(t "forms.i-i-s-proba2-рег-результ-e.планирСобес.регистАнкеты.фИОКандид-caption")
      data-test-i-i-s-proba2-рег-результ-e-планирСобес-регистАнкеты-фИОКандид=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.планирСобес.регистАнкеты "фИОКандид" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.планирСобес.регистАнкеты.вакантДолжн.должность
      class=(if (v-get validationModel.планирСобес.регистАнкеты.вакантДолжн "должность" "isInvalid") "error")
      label=(t "forms.i-i-s-proba2-рег-результ-e.планирСобес.регистАнкеты.вакантДолжн.должность-caption")
      data-test-i-i-s-proba2-рег-результ-e-планирСобес-регистАнкеты-вакантДолжн-должность=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.планирСобес.регистАнкеты.вакантДолжн "должность" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proba2-рег-результ-e.тЧРегРезульт-caption"}}</label>
    {{flexberry-groupedit
      componentName="тЧРегРезультGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.тЧРегРезульт
      content=model.тЧРегРезульт
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "тЧРегРезульт" "isInvalid") "error")
      data-test-i-i-s-proba2-рег-результ-e-тЧРегРезульт=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "тЧРегРезульт" "message")}}
  </div>
</form>
